.mycontainer div{

    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;


}
.dropbtn {
    background-color: darkred;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: black;
}

#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}
.icon-bar {

      /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font size */
}

.icon-bar button:hover {

    background-color:blue; /* Add a hover color */
}

.active {
    background-color: #4CAF50; /* Add an active/current color */
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 50px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none; /*hide original SELECT element:*/
}

.select-selected {
    background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}
.control_panel input{
    color: red;border: 1px solid;padding: 1px;

}
.control_panel  label{
    width:20px;
    display:  block;
}
.control_panel_group{
    margin-top:2px;
}
.btn{border:1px;
    margin:1px;    color:white;
    background: red;

}
.btn_table {
    font-size: 20px;
    border:0px;

}
.login_background{
    background :url("");
}
.login_fix{
    background:#fffdfd40;
    border:white;
    padding-top: 122px;
    font-style: italic;
    color:aliceblue;
    width:500px;
    height:500px;
}

